.carousel {
    position: relative;
    height: 50vh;
    width: 100%;
}

.carousel-container {
    position: relative;
    margin-left: 7.5vh;
    margin-right: 7.5vh;
    margin-top: 28px;
    height: 100%;
    overflow: hidden;
}

.carousel-track {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    transition: transform 0,1s ease-in;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    z-index: 1;
    border: 0;
    height: 50px;
    width: 30px;
    background: $primary-color;
}

.btn-left {
    left: 7.5%;
    transform: translateX(-100%)translateY(-50%);
}

.btn-right {
    right: 7.5%;
    transform: translateX(100%)translateY(-50%);
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 80px;
}

.carousel-indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: $secondary-color;
    margin: 0 10px;
}

.current-slide {
    background: $accent-color;
}