// Menu Button
.menu-btn {
    position: absolute;
    z-index: 3;
    left: 35px;
    top: 35px;
    cursor: pointer;
    @include easeout;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: $accent-color; // <- !!!
        @include easeout;
    }

    // Rotate into an X with menu lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // Rotate line 1
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            // Hide line 2
            &:nth-child(2) {
                opacity: 0;
            }
            // Rotate line 3
            &:nth-child(3) {
                transform: rotate(135deg) translate(-6px, 6px);
            }
        }
    }
}

// Menu overlay
.menu {
    position: fixed;
    top: 0;
    width: 360px;
    visibility: hidden;
    z-index: 2;

    &.show {
        visibility: visible;
    }

    &-branding, 
    &-nav {
        display: flex; 
        flex-flow: column wrap;
        align-items: center; 
        justify-content: center; 
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: lighten($secondary-color, 5);
        list-style: none;
        transform: translate3d(-100%, 0, 0);         
        @include easeout; 
        
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }  

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeout;

        //&.show {
            // Slide in from left
            transform: translate3d(0, 0, 0);
        //}

        &.current > a {
            color: $accent-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 25px;
        padding: 1rem 0;
        font-weight: 600;
        color:set-text-color(lighten($secondary-color, 5));
        text-decoration: none;
        @include easeout;

        &:hover {
            color: $accent-color;
        }
    }
}